/.mixin.out
/.vscode
/avaritiarecipemakeroutput.txt
/crafttweaker.log
/downloads
/dropt.log
/dumps
/hs_err_pid11844.log
/logs
/minecraftinstance.json
/options.txt
/optionsof.txt
/optionsshaders.txt
/patchouli_data.json
/replay_pid15924.log
/resourcepacks
/saves
/screenshots
/shaderpacks
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap