# Configuration file

##########################################################################################################
# mining_levels
#--------------------------------------------------------------------------------------------------------#
# The list of all mining level names
##########################################################################################################

mining_levels {
    # Canonical names [default: [0:Stone:§8%s], [1:Iron:§f%s], [2:Diamond:§b%s], [3:Obsidian:§5%s]]
    S:names <
        0:0-Primitive:§8%s
        1:1-Basic:§f%s
        2:2-Reinforced:§e%s
        3:3-Enhanced:§3%s
        4:4-Powerful:§c%s
        5:5-Otherworldy:§5%s
        6:6-Ancient:§6%s                
        7:7-Legendary:§2%s
        8:8-Mithic:§d%s         
     >
}


